{% extends './front/base_front.html.twig' %}

{% block title %}Reponse index
{% endblock %}

{% block body %}
	<h1>Reponse index</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>TitreRapport</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reponse in reponses %}
				<tr>
					<td>{{ reponse.id }}</td>
					<td>{{ reponse.titreRapport }}</td>
					<td>{{ reponse.description }}</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
